extends _layout

block content
  section#home.tab-window.tab-active
    h1 Introducing Categorizr.js
    p
      | Categorizr.js is a modern device-detection script ported from 
      a(href="https://github.com/bjankord")@bjankord
      | &rsquo;s 
      a(href="https://github.com/bjankord/Categorizr")php script
      | .
  section#about.tab-window
    h1 About
    p Learn more at <a href="https://github.com/skookum/categorizr.js">github.com/skookum/categorizr.js</a>
  section#author.tab-window
    h1 Author
    p By <a href="twitter.com/iamdustan">@iamdustan</a>

block scripts
