extends _layout

block content
  section#home.tab-window.tab-active
    h1 Categorizr.js
    div do this or that
  section#about.tab-window
    h1 About
    div do this or that
  section#enjoy.tab-window
    h1 Enjoy
    div do this or that

block scripts
